:root {
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;
  --radius-round: 50%;
  --radius-1: 2px;
  --radius-2: 5px;
  --radius-3: 1rem;
  --radius-4: 2rem;
  --radius-5: 4rem;
  --radius-6: 8rem;
  --surface-4: #868e96;
}

.carousel {
  anchor-name: --carousel;
  container-type: inline-size;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth
  }
}

.carousel__slide {
  scroll-snap-align: start;

  :where(.carousel--offscreen-inert) & {
    animation: offscreen-inert linear both;
    animation-timeline: view(x)
  }

  :where(.carousel--unsnapped-inert) & {
    container-type: scroll-state;

    > * {
      @container not scroll-state(snapped) {
        interactivity: inert
      }
    }
  }
}

.carousel {
  & .carousel__slide {
    &.season-start::scroll-marker {
      @media (prefers-reduced-motion: no-preference) {
        transition: text-decoration .8s ease, font-variation-settings .3s ease;
      }
    }
  }
}

/* .carousel {
  & .carousel__slide {
    &.season-start::scroll-marker {
      content: "Season " attr(data-season-content);
      white-space: nowrap;
      font-size: var(--font-size-3);
      font-variation-settings: "wght" 300;
      color: var(--text-2);
      text-decoration: underline 2px #0000;
      text-underline-offset: 5px;
      cursor: pointer;
    }
  }
} */

.carousel {
  inline-size: 100cqi;
  padding-block-start: var(--size-3);
  padding-inline: 5vmin;
  scroll-padding-inline: 5vmin;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 4vmin;
  scroll-marker-group: before;
  margin-block-start: 2lh;

  &::scroll-marker-group {
    position: absolute;
    position-anchor: --carousel;
    inset-inline-start: anchor(left);
    inset-block-end: anchor(top);
    margin-inline-start: 5vmin;
    block-size: 1lh;
    display: flex;
    gap: var(--size-7)
  }

  &:before,
  &:after {
    content: "";
    display: block;
    inline-size: 85cqi
  }

  .carousel__slide {
    padding: 0;
    position: relative;
    container-type: scroll-state;

    &:nth-child(1 of: has(figure:not(.seen))) {
      scroll-initial-target: nearest
    }

    &.season-start::scroll-marker {
      content: "" attr(data-season-content);
      white-space: nowrap;
      font-size: var(--font-size-3);
      font-variation-settings: "wght" 300;
      color: var(--text-2);
      text-decoration: underline 2px #0000;
      text-underline-offset: 5px;
      cursor: pointer;

      @media (prefers-reduced-motion: no-preference) {
        transition: text-decoration .8s ease, font-variation-settings .3s ease
      }
    }

    &.season-start::scroll-marker:is(:hover, :focus-visible, :target-current) {
      color: var(--text-1)
    }

    &.season-start::scroll-marker:target-current {
      text-decoration-color: var(--link);
      font-variation-settings: "wght" 800
    }

    &.season-start::scroll-marker:focus-visible {
      outline-offset: 10px
    }
  }
}

.episode {
  display: grid;
  line-height: 1.25;
  anchor-name: --episode;
  anchor-scope: --episode;

  &.seen:after {
    content: "✓" / "Watched";
    position: absolute;
    position-anchor: --episode;
    top: anchor(top);
    right: anchor(right);
    margin: var(--size-3);
    color: #fff;
    display: inline-grid;
    place-items: center;
    inline-size: var(--size-5);
    aspect-ratio: 1;
    border-radius: var(--radius-round);
    border: 1px solid white
  }

  &.unreleased {
    opacity: .25
  }

  > img {
    background-color: var(--surface-3);
    border-radius: var(--radius-2);
    transition: filter .3s var(--ease-3);

    @container not scroll-state(snapped: inline) {
      filter: grayscale(1)
    }
  }

  > figcaption {
    > .episode-number {
      text-transform: uppercase;
      font-weight: 500;
      font-size: var(--font-size-0)
    }

    > .episode-title {
      font-size: var(--font-size-3);
      font-weight: 700;
      line-height: 1cap;
      margin-block-start: var(--size-1)
    }

    > .episode-description {
      margin-block: var(--size-2);
      font-weight: 300;
      font-size: var(--font-size-3)
    }

    > .episode-meta {
      display: flex;
      align-items: baseline;
      gap: var(--size-2);
      font-size: var(--font-size-1);

      > .episode-badge {
        line-height: 1cap;
        padding: var(--size-1);
        border-radius: var(--radius-2);
        border: 1px solid var(--surface-4)
      }
    }
  }
}
