/*  MARK: LAYOUT
*/

:root {
  --max-column-width: 18.75rem;
  --gap: 1rem;
  z-index: 0;
}

:where(
  html,
  body,
  app-container,
  header,
  nav,
  main,
  article,
  section,
  div,
  ul,
  li,
  figure,
  aside,
  footer
  ) {
  display: grid;
}

:where(
  html,
  body,
  app-container,
  main
  ) {
  overflow: hidden;
}

app-container {
  /* Required for proper overflow.  */
  height: 100dvh;
}

header {
  grid-auto-flow: column;
  justify-content: space-between;

  app-logo,
  app-user {
    padding-block: 1rem;
    padding-inline: 1rem;
  }
}

main article {
  display: none;
  overflow: overlay;
  align-content: start;
  overflow-x: hidden;
  transition: opacity 0.25s;
  opacity: 0;

  hr {
    display: grid;
    margin-block: 4em;
    position: relative;
    overflow: visible;
    font-family: "Times New Roman", Times, serif;
    opacity: 0.6;
    background-color: rgba(255, 255, 255, 0.7);
    height: 2px;
  }

  hr::before,
  hr::after {
    display: grid;
    content: '\00A7';
    color: rgba(255, 255, 255, 1.0);
    font-size: 7rem;
    position: absolute;
    transform: scaleX(1.1);
    transform-origin: center;
    place-self: center;
    opacity: 0.6;
  }

  hr::before {
    padding-block-end: 4.5rem;
    transform: rotate(-90deg);
    transform-origin: center;
    text-shadow: -1px 0 0 rgba(0, 0, 0, 0.5);
  }

  hr::after {
    padding-block-start: 4.5rem;
    transform: rotate(90deg) scaleY(-1);
    transform-origin: center;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
  }
}

section {
  position: relative;
}

/* Hero */
main article:nth-of-type(1) section:nth-of-type(1) {
  /* height: 100dvh; */
  /* place-items: center; */
  /* min-block-size: 100dvh; */
  /* inline-size: 100%; */
  position: relative;
  overflow: hidden;

  .hero-content {
    margin-block-end: 10rem;
  }
}

/* Cards */
main article:nth-of-type(1) section:nth-of-type(2) {
  /* --card-min: 20rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--card-min)), 1fr)); */
  /* gap: 3rem; */
  /* padding-inline: 4rem; */
  padding-block-end: 4rem;

  .card {
    grid-auto-flow: row;
    /* padding: 2rem; */
    /* border-radius: .5rem; */

    p {
      padding-block-start: 0;
    }
  }
}

[role="button"] {
  border: none;
  border-radius: .4rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  width: fit-content;
  margin-inline: 1rem;
  margin-block-end: 2rem;
  text-decoration: none;
  justify-self: center;
  user-select: none;
  cursor: pointer;
}

main article:nth-of-type(1) section:nth-of-type(3) {

  > div {
    container-type: inline-size;
    /* place-content: center; */
    gap: 5vmin;
    /* padding-block: 3vmin 5vmin; */

    p {
      padding: 1rem;
    }
  }
}

figure {
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  max-width: 85ch;
}

figure img {
  padding-inline-start: 2rem;
}

figure h3 {
  justify-self: start;
  padding-block: 0;
}

footer {
  grid-auto-flow: column;
  justify-content: space-between;

  app-copy {
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }

  app-social {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    a {
      display: inline-block;
      text-decoration: none;

      svg {
        width: 2rem;
        height: 1rem;
        fill: currentColor;
      }
    }
  }
}
