/*  MARK: LAYOUT
*/

:root {
  --max-column-width: 18.75rem;
  --gap: 1rem;
  z-index: 0;
}

:where(
  html,
  body,
  app-container,
  header,
  nav,
  main,
  article,
  section,
  div,
  ul,
  li,
  figure,
  aside,
  footer
) {
  display: grid;
}

:where(
  html,
  body,
  app-container
) {
  overflow: hidden;
}

app-container {
  height: 100dvh;
}

header {
  grid-auto-flow: column;
  justify-content: space-between;

  app-logo {
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }

  app-user {
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: end;

  input {
    position: absolute;
    left: -200dvw;
  }

  label {
    display: block;
    padding: 0.5rem 1rem;
    word-break: nobreak;
    cursor: pointer;
    word-break: keep-all;
    width: max-content;
  }
}

main {
  overflow: hidden;
}

article {
  display: none;
  overflow: overlay;
  align-content: start;
  overflow-x: hidden;
  transition: opacity 0.25s;
  opacity: 0;
}

section {
  position: relative;
}

main article:nth-of-type(1) section:nth-of-type(1) {
  height: 100dvh;
  place-items: center;
  min-block-size: 100dvh;
  inline-size: 100%;
  position: relative;
  overflow: hidden;
}

main article:nth-of-type(1) section:nth-of-type(2) {
  --card-min: 20rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--card-min)), 1fr));
  gap: 3rem;
  padding-inline: 4rem;
  padding-block: 4rem;

  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    /* padding: 2rem; */
    border-radius: .5rem;

    p {
      padding-block-start: 0;
    }
  }
}

[role="button"] {
  border-radius: .5rem;
  cursor: pointer;
  padding-block: 1rem;
  padding-inline: 2rem;
  width: fit-content;
  margin-inline: 1rem;
  text-decoration: none;
  justify-self: center;
  margin-block-end: 2rem;
}

main article:nth-of-type(1) section:nth-of-type(3) {

  > div {
    container-type: inline-size;
    /* place-content: center; */
    gap: 5vmin;
    /* padding-block: 3vmin 5vmin; */

    p {
      padding: 1rem;
    }
  }
}

figure {
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  max-width: 85ch;
}

figure img {
    padding-inline-start: 2rem;
}

figure h3 {
  justify-self: start;
  padding-block: 0;
}

aside {
  grid-template-columns: 1fr;
}

footer {
    grid-auto-flow: column;
    justify-content: space-between;

  app-copy {
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }

  app-social {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    a {
      display: inline-block;
      text-decoration: none;

      svg {
        width: 2rem;
        height: 1rem;
        fill: currentColor;
      }
    }
  }
}
