/* MARK: NAV
*/

nav {
  grid-auto-flow: column;
  justify-content: end;
  gap: .7rem;
  /* z-index: 10; */
  padding-block-end: 1rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */

  label {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
    border-radius: 0.25rem;
    text-transform: capitalize;
    transition: background-color 250ms ease-in-out;

    &:last-child {
      display: none;
    }

    input {
      position: absolute;
      left: -200dvw;
    }
  }
}

/* Map NAV labels (by order) to MAIN articles (by order) */
nav:has(> label:nth-of-type(1) input:checked) ~ main > article:nth-of-type(1),
nav:has(> label:nth-of-type(2) input:checked) ~ main > article:nth-of-type(2),
nav:has(> label:nth-of-type(3) input:checked) ~ main > article:nth-of-type(3),
nav:has(> label:nth-of-type(4) input:checked) ~ main > article:nth-of-type(4),
nav:has(> label:nth-of-type(5) input:checked) ~ main > article:nth-of-type(5),
nav:has(> label:nth-of-type(6) input:checked) ~ main > article:nth-of-type(6) {
  display: grid;
  opacity: 1;
}

nav label[aria-label="Toggle"]:has(input:checked) {
  position: fixed;
  inset: 0;
  /* grid-template-columns: 1fr;
    height: 100dvh; */
}

nav label:not(:last-child) {
  display: grid;
  width: 100%;
}

nav label:last-child {
  position: absolute;
  right: 0;
}
