/* MARK: NAV
*/

nav {
  z-index: 10;
  backdrop-filter: blur(5px);
}

nav label {
  user-select: none;
  transition: background-color 250ms ease-in-out;
  border-radius: 0.25rem;

  display: grid;
  gap: 0.5rem;
  text-transform: capitalize;
  margin-block-end: 0.25rem;
}


nav label:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav label:last-child {
  display: none;
}

nav:has(input:nth-of-type(1):checked) ~ main article:nth-of-type(1),
nav:has(input:nth-of-type(2):checked) ~ main article:nth-of-type(2),
nav:has(input:nth-of-type(3):checked) ~ main article:nth-of-type(3),
nav:has(input:nth-of-type(4):checked) ~ main article:nth-of-type(4),
nav:has(input:nth-of-type(5):checked) ~ main article:nth-of-type(5),
nav:has(input:nth-of-type(6):checked) ~ main article:nth-of-type(6) {
  display: grid;
  opacity: 1;
}

app-container:has(#toggleNav:checked) {
  nav {
    grid-template-columns: 1fr;
  }

  label:not(:last-child) {
    display: grid;
    width: 100%;
  }

  nav label:last-child {
    position: absolute;
    right: 0;
  }
}
