/* MARK: NAV
*/

nav {
  grid-auto-flow: column;
  justify-content: end;
  gap: .7rem;
  z-index: 10;
  margin-block-end: 5rem;

  label {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
    border-radius: 0.25rem;
    text-transform: capitalize;
    transition: background-color 250ms ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:last-child {
      display: none;
    }

    input {
      position: absolute;
      left: -200dvw;
    }

    &:has(input:checked) {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

/* Maps NAV checked boxes to article visibility */
nav:has(>label input:nth-of-type(1):checked) ~ main > article:nth-of-type(1),
nav:has(>label input:nth-of-type(1):checked) ~ main > article:nth-of-type(1),
nav:has(>label input:nth-of-type(2):checked) ~ main > article:nth-of-type(2),
nav:has(>label input:nth-of-type(3):checked) ~ main > article:nth-of-type(3),
nav:has(>label input:nth-of-type(4):checked) ~ main > article:nth-of-type(4),
nav:has(>label input:nth-of-type(5):checked) ~ main > article:nth-of-type(5),
nav:has(>label input:nth-of-type(6):checked) ~ main > article:nth-of-type(6) {
  display: grid;
  opacity: 1;
}

nav label:has([aria-label="Toggle"]:checked) {
  position: fixed;
  inset: 0;
  /* grid-template-columns: 1fr;
    height: 100dvh; */
}

nav label:not(:last-child) {
  display: grid;
  width: 100%;
}

nav label:last-child {
  position: absolute;
  right: 0;
}
