/* MARK: RESET
*/

*,
* *,
*:before,
*:after,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

  /* reduce specificity to 0 */
:where(
  img,
  picture,
  video,
  canvas,
  svg {
  display: block;
  max-inline-size: 100%;
}

/* reduce specificity to 0 */
:where(
  button,
  input,
  select,
  textarea) {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: currentColor;
}
