/* MARK: RESPONSIVE
*/
/* @media (width <=600px) {
  header label:first-of-type button,
  header label:first-of-type [role="button"] {
    display: none;
  }
} */

/* MARK: HERO
*/

@media (max-width: 375px) {
  .hero-content svg {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .hero-content {
    margin-block-end: 4rem;
  }
}

/* MARK: NAV
*/

@media (max-width: 62.5rem) {
  nav label:not(:last-child) {
    display: none;
    text-align: center;
    border-radius: 0;
  }

  nav label:last-child {
    display: grid;
  }

  nav:has(> label[aria-label="Toggle"] input:checked) {
    position: fixed;
    inset: 0;
    padding: 3rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.85);
    grid-auto-flow: row;
    align-content: start;
    gap: 1rem;
  }

  nav:has(> label[aria-label="Toggle"] input:checked) label:not(:last-child) {
    display: grid;
  }

  nav:has(> label[aria-label="Toggle"] input:checked) label:last-child {
    justify-self: end;
  }
}

/* MARK: WAVES
*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

app-logo svg {
  display: block;
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-start: 1rem;
  width: 20rem;
  height: auto;
  z-index: 15;
}
