/* MARK: SCROLLBARS
*/

/* Target elements, not :root{} */
/* https://codeconvey.com/custom-scrollbar-css-for-all-browsers/ */
nav details section,
main article ul[aria-hidden="true"] + ul,
aside form fieldset {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--accent2)) #0000;

  transition: scrollbar-color .5s ease;

  &:not(:hover) {
    scrollbar-color: transparent #0000;
  }
}

/* https://x.com/argyleink/status/1927220175385866387 */
textarea {
  scrollbar-width: thin;
}
