/* MARK: THEME | Dark
*/

:root {
  --bg-light: 251, 216, 212;
  --bg-dark: 45, 34, 33;
  --bg-emphasis: 185, 133, 128;
  --bg-active: var(--bg-emphasize);

  --fg-light: 251, 216, 212;
  --fg-dark: 45, 34, 33;
  --fg-emphasis: 255, 255, 255;
  --fg-shadow: 0, 0, 0;

  --grd-light: linear-gradient(180deg,
      rgb(var(--fg-emphasis) / 0.90)),
    rgb(0 0 0 / 0.90) 0%,
    rgb(var(--fg-emphasis) / 0.60) 100%;
}

/* MARK: LOOK/FEEL
*/
body {
  background-color: rgba(var(--bg-dark), 1.0);

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    background-attachment: initial;
    background-color: transparent;
    background-image: url('../images/app/ui/pattern.png');
    background-size: 4.6875rem;
    background-repeat: repeat;
    z-index: -5;
  }
}

main article:nth-of-type(1) section:nth-of-type(1) {
  color: rgb(var(--fg-light), 1);
}

main article:nth-of-type(1) section:nth-of-type(2) {
  color: rgb(var(--bg-light), 1);
  background-color: rgb(var(--bg-light), 1);
}

main article:nth-of-type(1) section:nth-of-type(3) {
  display: grid;
  background-color: rgba(var(--bg-dark), 1.0);
}

main article:nth-of-type(1) section:nth-of-type(4) {
  color: rgba(var(--bg-dark), 1.0);
  background-color: rgba(var(--bg-light), 1);
}

main article:nth-of-type(1) section:nth-of-type(5) {
  color: rgba(var(--bg-dark), 1.0);
  background-color: rgba(var(--bg-light), 1);
}

/* MARK: FORMS
*/
form fieldset label:focus {
  color: rgba(var(--fg-light), 1.0)
}

hr {
  color: rgba(var(--fg-light), 1.0);
  background-color: rgb(var(--bg-emphasize), 1);
}

footer {
  background-color: transparent;
}

nav {
  background-color: transparent;
  color: rgba(var(--fg-light), 1.0);

  label {

    &:hover,
    &:has(input:checked) {
      color: rgba(var(--fg-emphasis), 1.0);
      background-color: rgba(var(--bg-light), 0.2);
    }
  }
}

main article:nth-of-type(1) section:nth-of-type(1) {
  background-color: rgba(var(--bg-dark), 0.0);
  color: rgba(var(--fg-light), 1.0);
}

main article:nth-of-type(1) section:nth-of-type(2) {
  background-color: rgba(var(--bg-light), 1.0);
  color: rgba(var(--fg-dark), 1.0);

  [role="button"],
  button {
    background-color: rgba(var(--bg-dark), 0.5);
    color: rgba(var(--fg-emphasis), 1.0);

    &:hover {
      background-color: rgba(var(--bg-dark), 0.2);
      color: rgba(var(--fg-emphasis), 1.0);
    }
  }
}

main article:nth-of-type(1) section:nth-of-type(3) {
  background-color: rgba(var(--bg-dark), 0.0);
  color: rgba(var(--fg-light), 1.0);

  [role="button"],
  button {
    background-color: rgba(var(--bg-light), 0.5);
    color: rgba(var(--fg-emphasis), 1.0);

    &:hover {
      background-color: rgba(var(--bg-light), 0.2);
      color: rgba(var(--fg-emphasis), 1.0);
    }
  }
}
