/* MARK: TYPOGRAPHY
*/
:root {
  --font-family: sans-serif;
  --font-size: clamp(1rem, 1.3cqi, 1.3rem);
  --header-font: Cinzel, "Times New Roman", Times;
  --font-weight: normal;
  --font-style: normal;
  /* --font-optical-sizing: auto; */
  --line-height: 1.5;
  --letter-spacing: 0.05rem;
  --moz-osx-font-smoothing: grayscale;
  /* --word-break: break-word; */
  --webkit-font-smoothing: antialiased;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  /* font-optical-sizing: var(--font-optical-sizing); */
  line-height: var(--line-height);
  text-shadow: var(--txt-shadow);
  word-break: var(--word-break);
  -moz-osx-font-smoothing: var(--moz-osx-font-smoothing);
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  /* https://x.com/jh3yy/status/1885365324674928642 */
  hyphens: auto;
}

/* https://moderncss.dev/modern-css-for-dynamic-component-based-architecture/Baseline for default links */
/* https://moderncss.dev/modern-css-for-dynamic-component-based-architecture/ */
/* Baseline for default links */
label:not([class]) {
  /* Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

a:not([class]) {
  /* Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

/* Accessibility */
:focus-visible {
  --outline-size: max(2px, 0.15em);

  outline: var(--outline-width, var(--outline-size)) var(--outline-style, solid) var(--outline-color, currentColor);
  outline-offset: var(--outline-offset, var(--outline-size));
}

/* https://moderncss.dev/modern-css-for-dynamic-component-based-architecture/#container-query-fluid-type */
/* Specificity == 0 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5) {
 font-family: var(--header-font);
  color: rgba(var(--txt-color), 1.0);
  padding: 2rem;
  font-weight: 100;
  /* letter-spacing: 0.125rem; */
  font-variant: small-caps;
  text-wrap: balance;
  text-align: center;
  /* font-weight: normal; */
}

/* Exceptions */
h2 {
  font-size: 1.5rem;
  font-variant: small-caps;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

h2:has(+ h3) {
  /* your rules here */
  margin-block-end: 0;
  padding-block-end: 0;
}

h2 + h3:has(+ p) {
  padding-block-end: 0;
}

p {
  padding-inline: 2em;
  max-width: 85ch;
  justify-self: center;
  padding-block-end: 2rem;
}

hr {
  margin-block: 1em;
  position: relative;
  overflow: visible;
  font-family: serif;
}

hr::before {
  content: '\00A7';
  color: rgba(255,255,255,1.0);
  font-size: 4rem;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: rotate(90deg);
  transform-origin: center;
  opacity: .6;
}

ol,
ul {
  margin-block: 1em;
  padding-inline-start: 1.5em;
  padding-block-start: 0;
  list-style: revert;
}

li {
  margin-block: 0.5em;
  margin-inline: 2em;
}

h1 {
  font-size: 2rem;
}

/* Specificity == 0 */
/* :where(h2, h3) {
  font-size: clamp(1.25rem, 5cqi, 1.5rem);
} */

h4 {
  display: var(--sub-header-display);
  letter-spacing: .05rem;
}

small {
  margin: 1rem;
  font-size: 75%;
  opacity: 0.7;
  font-stretch: normal;
  font-style: italic;
  letter-spacing: 0.04rem;
  line-height: 1.3;
  margin-inline: 1rem;

  &:first-of-type {
    margin-block-end: 0;
  }

  &:last-of-type {
    margin-block-start: 0;
    margin-block-end: 4rem;
  }
}

/* Specificity == 0 */
:where(
  ul,
  ol,
  dl,
  dt,
  dd,
  p,
  figure,
  blockquote) {
  /* hanging-punctuation: first last; */
  text-wrap: pretty;
}

:where(th, td):first-child {
  text-align: left;
}

:where(th, td):last-child {
  text-align: right;
  font-variant-numeric: tabular-nums;
}



