.header22 {
    position: absolute;
    text-align: center;
    background: transparent;
    color: rgb(251, 216, 212, 1);
    width: 100%;
    left: 0;
    bottom: 0;
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}
